.navbar {
  position: fixed;
  top: 1rem;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  /* background: red; */
  backdrop-filter: blur(0.3rem);
  padding: 0.2rem 2rem;
  border-radius: 0.5rem;
  z-index: 5;
  user-select: none;
  border: 1px solid transparent;

  .navLinks {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  /* border: 1px solid var(--primary-1); */
  a,
  .nav-item {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;

    &:hover {
      color: var(--primary-3);
    }
  }
}

.nav-down {
  backdrop-filter: blur(0.5rem);
  border: 1px solid var(--light-gray);
  background: var(--dark-gray);
}

@media (max-width: 950px) {
  .navbar {
    width: 83%;
    top: 0.7rem;
    justify-content: center;
    padding: 1rem 2rem;

    .nav-logo,
    a {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  .navbar {
    width: 90%;
    .navLinks {
      width: 100%;
      gap: 0.7rem;

      .nav-item {
        font-size: 0.9rem;
      }
    }
  }
}
