@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@400;600;900&family=Poppins:wght@300;400;700&family=Roboto+Mono&family=Splash&family=Ubuntu:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  transition: all 0.2s ease-in;
  /* user-select: none; */
}

:root {
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-1: #0d121c;
  --primary-2: #301e67;
  --card: #301e678d;
  /* --primary-3: #5b8fb9; */
  --primary-3: #0c34d6;
  --primary-3-light: #745ac4;
  --primary-4: #b6eada;
  --sidenav: #03001cce;
  --gradient: #1c2f4b;
  --white: #fff;
  --black: #000;
  --dark-gray: #0e1521;
  --gray: #1c2f4b;
  --light-gray: #94a3b8;
  --icons-img: invert(1);
  --big-img: invert(0);
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-1: #f2f1ef;
    --primary-2: #d9b18e;
    --card: #d9b18e8d;
    --primary-3-light: #a67564;
    --primary-3: #68493f;
    --primary-4: #723e31;
    --sidenav: #bce3ffce;
    --gradient: #d9d2cc;
    --white: #000;
    --black: #fff;
    --dark-gray: #d9b18e8d;
    --gray: #d9b18e;
    --light-gray: #723e31;
    --icons-img: invert(0);
    --big-img: invert(1);
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--primary-1);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--primary-2);
}

body {
  min-height: 100vh;
  width: 100vw;
  /* background: radial-gradient(circle at top, var(--gradient) 0, var(--primary-1) 40%, var(--primary-1) 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-3-light);
  flex-direction: column;
  overflow-x: hidden;
  padding: 1rem;
  scroll-behavior: smooth;
}

/* @media (max-width:900px) {
  *{
    font-size: 1rem;
  }
} */

.icons-img {
  filter: var(--icons-img);
  mix-blend-mode: luminosity !important;
}

.selected {
  background: var(--primary-2) !important;
  border: 1px solid var(--primary-3) !important;

  .ripple {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    top: -0.5rem;
    left: 0.5rem;
    z-index: 2;
    background: var(--primary-3);
    animation: 1.5s ripple infinite ease-in-out;
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 var(--primary-3);
  }

  100% {
    box-shadow: 0 0 0 15px var(--card);
  }
}

/* spinner */
.spinner {
  position: absolute;
  z-index: 5;
  left: 1rem;
  bottom: 1rem;
  width: 25px;
  height: 25px;
  border: 5px solid;
  background: transparent;
  border-color: var(--primary-4) transparent var(--primary-4) transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn {
  cursor: pointer;
  background: var(--card);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-3);

  &:hover {
    background: var(--primary-1);
  }
}

::selection {
  background: var(--primary-2);
  border-radius: 0.5rem;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--primary-2);
  }

  100% {
    box-shadow: 0 0 0 25px var(--primary-1);
  }
}
